@use "../../styles/mixins" as globalMixins;
@use "../../styles/variables" as globalVar;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  min-height: 100vh;
  width: 100%;
  padding: 1rem;

  &[data-theme="dark"] {
    @include globalMixins.page-theme("dark");
  }
  &[data-theme="light"] {
    @include globalMixins.page-theme("light");
  }

  transition: background-color 300ms linear, color 600ms linear;
}

@include globalMixins.desktop() {
  .container {
    flex-direction: row;
  }
  .page {
    margin-left: globalVar.$size-page-margin;
  }
}
