.container {
  position: fixed;
  top: 92%;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0.6rem 0;
}
.nav__list {
  display: none;
}

.container__dark {
  background-color: var(--color-bg-dark1);
}
.container__light {
  background-color: fuchsia;
}
