// sizes =>
$size-page-margin: 5rem;
$size-svg: 3rem;

// =>
$nav-transition: 600ms;

// fonts =>
$font-family: "Manrope", sans-serif;

// colors =>
$color-dark1: #e88876;
$color-dark2: #ffbb68;
$color-dark3: #f9f871;

/* gradient -> */
$color-bg-dark1: #383745;
$color-bg-dark2: #454463;
$color-bg-dark3: #61456d;
$color-bg-dark4: #555b8d;

$color-light1: #ffd6c0;
$color-light2: #ffe28d;
$color-light3: #f9f871;

/* gradient -> */
$color-bg-light1: #efedff;
$color-bg-light2: #c4d1e7;
$color-bg-light3: #96b7cb;
$color-bg-light4: #699da9;
