// sizes =>
$size-page-margin: 5rem;
$size-svg: 3rem;

// =>
$nav-transition: 600ms;

// fonts =>
$font-family: "Manrope", sans-serif;

// colors =>

$color-button-primary: #2da44e;

$color-dark1: #e88876;
$color-dark2: #ffbb68;
$color-dark3: #f9f871;

$color-bg-dark1: #383745;
$color-bg-dark2: #454463;
$color-bg-dark3: #010409;
$color-bg-dark4: #0d1117;

$color-font-dark1: #c9d1d9;
$color-font-dark2: #fff;

$color-light1: #ffd6c0;
$color-light2: #ffe28d;
$color-light3: #f9f871;

$color-bg-light1: #f6f8fa;
$color-bg-light2: #ffffff;
